{% extends 'base.html.twig' %}

{% block title %}Imgur index{% endblock %}

{% block body %}
    <h1>Imgur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imgur in imgurs %}
            <tr>
                <td>{{ imgur.id }}</td>
                <td>{{ imgur.link }}</td>
                <td>
                    <a href="{{ path('app_imgur_show', {'id': imgur.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_imgur_new') }}">Create new</a>
{% endblock %}
