{% extends 'base.html.twig' %}

{% block title %}New Imgur{% endblock %}

{% block body %}
    <h1>Create new Imgur</h1>

    {{ include('imgur/_form.html.twig') }}

    <a href="{{ path('app_imgur_index') }}">back to list</a>
{% endblock %}
